/*
 * Created by Andrea Vaccari
 * Email: andrea@glancee.com
 */

@import url("reset.css");
@import url("jquery.countdown.css");
@import url("fancybox/jquery.fancybox-1.3.4.css");

/* Clearfix
 * *******************************************************/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
    overflow: visible;
}

/* Main
 * *******************************************************/

body {
    color: #fff;
    font: lighter 14px Helvetica, Arial, sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    margin: 10px 0;
    font-size: 26px;
}
h2 {
    font-size: 22px;
    margin: 10px 0;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
ol {
    list-style: decimal outside;
    margin: 0 40px;
}
.left {
    display: inline-block;
    float: left;
}
.right {
    display: inline-block;
    float: right;
}
.small {
    font-size: 12px;
}

/* Header
 * *******************************************************/

#header {
    background: url(../images/bg-black.png);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 50%;
    margin-left: -420px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    width: 800px;
    z-index: 100;
}
.header-logo {
    float: left;
    margin-right: 40px;
}
#header-menu {
    width: 420px;
    float: right;
    padding: 14px 0;
}
#header-menu li {
    float: right;
    margin-left: 5px;
}
.header-name, .link-download {
    font-size: 40px;
    margin: 12px 0 0 10px;
}
.header-line {
    clear: both;
    text-align: center;
}
.link-video {
    border-bottom: 1px dotted #bbb;
    font-size: 12px;
}

/* Banner
 * *******************************************************/
#banner-400 {
    background-color: #000;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    height: 400px;
    overflow: hidden;
    position: relative;
}
#banner-600 {
    background-color: #000;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slide {
    margin: 0 auto;
    padding-top: 200px;
    width: 800px;
}
.slide-header {
    background: url(../images/bg-black.png);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    margin: 60px 0 0 30px;
    padding: 10px;
    width: 300px;
}
.slide-title {
    float: left;
    padding: 4px 0;
    font-size: 22px;
}
.slide-next {
    background-color: #91bd09;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 10px #91bd09;
    -webkit-box-shadow: 0 0 10px #91bd09;
    box-shadow: 0 0 10px #91bd09;
    cursor: pointer;
    float: right;
    padding: 2px 6px;
    margin: 4px 0 0;
}
.slide-text {
    border-top: 1px dotted white;
    clear: both;
    padding: 10px 0 0;
    line-height: 1.5em;
}
.slide-back {
    border-bottom: 1px dotted #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 12px;
}

/* Content
 * *******************************************************/
#content {
    color: #555;
    margin: 0 auto;
    width: 800px;
}
#content a {
    border-bottom: 1px dotted gray;
    color: gray;
}
#content a:hover, #content a:focus {
    border-bottom: 1px dotted #555;
    color: #555;
}
#content b {
    font-weight: 600;
    text-shadow: 0 0 1px #fff;
}
#content-bar {
    background: #aaa;
    height: 1px;
    position: absolute;
    width: 800px;
}
#content-box {
    border: 1px solid #aaa;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
#content-fb {
    height:256px;
    overflow:hidden;
    width:800px;
}
.columned {
    line-height: 1.5em;
    padding: 40px 0;
    text-align: justify;
}
.columned-25 {
    float: left;
    margin: 0 2%;
    width: 21%;
}
.columned-25:first-child {
    margin-left: 0;
    width: 23%;
}
.columned-25:last-child {
    margin-right: 0;
    width: 23%;
}
.columned-50 {
    float: left;
    margin: 0 2%;
    width: 46%;
}
.columned-50:first-child {
    margin-left: 0;
    width: 48%;
}
.columned-50:last-child {
    margin-right: 0;
    width: 48%;
}
.columned h3 {
    border-bottom: 1px solid #555;
    margin: 20px 0 10px;
    padding-bottom: 5px;
}
.columned h4 {
    margin: 20px 0 0;
    padding-bottom: 5px;
}
.columned li a {
    border-bottom: none !important;
}
.copyright {
    color: gray;
    font-size: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Fancybox
 * *******************************************************/

#fancybox-outer {
    background: #000 !important;
}
#download {
    margin: 0 auto;
    overflow: auto;
    width: 400px;
}
#beta {
    color: #fff;
    background: #000;
    padding:  20px 0;
    text-align: center;
}
#countdown {
    margin: 0 auto;
    width: 300px;
}
#launchrock {
    line-height: 1.5em;
    margin: 0 auto;
    width: 380px;
}
#lrcontent {
    color: #ddd !important;
    font: lighter 16px Helvetica, Arial, Verdana, sans-serif !important;
    line-height: 1.2em !important;
}
#lrcontent p {
    margin: 10px 0;
}
#makea, #invitelist {
    display: none;
}
#header_text {
    border-top: 1px dotted white;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
}
#paragraph_text {
    font-size: 14px;
}
#paragraph_text b {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#paragraph_3 {
    font-size: 14px;
}
#sharebuttons {
    padding-top: 10px;
}

/* Google Forms
 * *******************************************************/

#ss-form, #ss-thanks {
    margin-top: 20px;
    width: 100%;
}
.ss-q-help {
    float: right;
    font-size: 10px;
    margin-top: 2px;
}
#ss-form input, #ss-form textarea {
    background: inherit;
    border: 1px solid #aaa;
    color: inherit;
    font: inherit;
    outline-width: 0 !important;
    width: 100%;
}
#ss-form input {
    height: 26px;
}
#ss-form input[type="submit"] {
    float: right;
    width: 200px;
}
#ss-form textarea {
    width: 99%;
}
#ss-form label.error {
    font-size: 10px;
    color: red;
    position: absolute;
}

/* Tender
 * *******************************************************/

#tender_toggler {
    background: none !important;
    position: fixed !important;
    top: 50px !important;
}

#tender_toggler_link {
    border: 2px solid black !important;
}